<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/module.xsd">
    <menu>
        <add id="TylerSchade_IndexManagement::manage_indexes"
             title="Manage Indexes"
             module="TylerSchade_IndexManagement"
             sortOrder="9999"
             parent="Magento_Backend::system_tools"
             resource="Magento_Backend::content"
             action="indices/indices/manage" />
    </menu>
</config>