<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Widget\Grid\Container">
        <plugin name="add_refresh_all_button" type="\TylerSchade\IndexManagement\Plugin\Magento\Backend\Block\Widget\Grid\Container\Plugin" disabled="false" />
    </type>
</config>